.Content {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Navigation button {
  text-align: left;
  padding: 1rem 1rem 0.5rem;
}

.Navigation button.active,
.Navigation button:hover {
  background-color: white;  
  text-decoration: none;
}

.subNavigation {
  display: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
}

.subNavigation button {
  padding: 1rem;
}

.subNavigation button.active {
  font-weight: bold;
}

.Fields {
  width: 100%;
  padding-right: 4rem;
}

.Fields h2 {
  margin-top: 0;
}

.fieldset {
  display: none;
}

.fieldset.active {
  display: initial;
}

.input-group {
  margin-bottom: 1.5rem;
}

label {
  width: 100%;
  margin-bottom: 0;
  font-weight: 600;
  margin-left: 0.75rem;
}

.spacer {
  height: 40px;
}

.Outputs {
  margin-top: 2rem;
}

.DevResults {
  display: flex;
}

.DevResults > div {
  padding: 1rem;
  width: 50%;
}